In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
df=pd.read_csv("csvs/employees.csv",parse_dates=['Last Login Time','Start Date'])
df['Senior Management']=df['Senior Management'].astype("bool")
df['Gender']=df['Gender'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null category
Start Date           1000 non-null datetime64[ns]
Last Login Time      1000 non-null datetime64[ns]
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    1000 non-null bool
Team                 957 non-null object
dtypes: bool(1), category(1), datetime64[ns](2), float64(1), int64(1), object(2)
memory usage: 49.0+ KB

In [4]:
df[(df['Gender']=='Male')& (df['Team']=='Marketing')]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>First Name</th>
      <th>Gender</th>
      <th>Start Date</th>
      <th>Last Login Time</th>
      <th>Salary</th>
      <th>Bonus %</th>
      <th>Senior Management</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Douglas</td>
      <td>Male</td>
      <td>1993-08-06</td>
      <td>2019-01-05 12:42:00</td>
      <td>97308</td>
      <td>6.945</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Matthew</td>
      <td>Male</td>
      <td>1995-09-05</td>
      <td>2019-01-05 02:12:00</td>
      <td>100612</td>
      <td>13.645</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Craig</td>
      <td>Male</td>
      <td>2000-02-27</td>
      <td>2019-01-05 07:45:00</td>
      <td>37598</td>
      <td>7.757</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Thomas</td>
      <td>Male</td>
      <td>1995-06-04</td>
      <td>2019-01-05 14:24:00</td>
      <td>62096</td>
      <td>17.029</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Charles</td>
      <td>Male</td>
      <td>2004-09-14</td>
      <td>2019-01-05 20:13:00</td>
      <td>107391</td>
      <td>1.260</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Aaron</td>
      <td>Male</td>
      <td>2012-02-17</td>
      <td>2019-01-05 10:20:00</td>
      <td>61602</td>
      <td>11.849</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>104</th>
      <td>John</td>
      <td>Male</td>
      <td>1989-12-23</td>
      <td>2019-01-05 07:01:00</td>
      <td>80740</td>
      <td>19.305</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Willie</td>
      <td>Male</td>
      <td>2003-11-27</td>
      <td>2019-01-05 06:21:00</td>
      <td>64363</td>
      <td>4.023</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Paul</td>
      <td>Male</td>
      <td>2008-06-03</td>
      <td>2019-01-05 15:05:00</td>
      <td>41054</td>
      <td>12.299</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Sean</td>
      <td>Male</td>
      <td>1996-05-04</td>
      <td>2019-01-05 20:59:00</td>
      <td>135490</td>
      <td>19.934</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Roger</td>
      <td>Male</td>
      <td>2004-11-19</td>
      <td>2019-01-05 15:55:00</td>
      <td>51430</td>
      <td>6.460</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Willie</td>
      <td>Male</td>
      <td>2006-06-06</td>
      <td>2019-01-05 09:45:00</td>
      <td>55281</td>
      <td>4.935</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Matthew</td>
      <td>Male</td>
      <td>2013-07-31</td>
      <td>2019-01-05 08:04:00</td>
      <td>142373</td>
      <td>2.462</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>252</th>
      <td>Ralph</td>
      <td>Male</td>
      <td>2004-11-11</td>
      <td>2019-01-05 01:35:00</td>
      <td>71896</td>
      <td>4.232</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>274</th>
      <td>Howard</td>
      <td>Male</td>
      <td>1982-10-05</td>
      <td>2019-01-05 07:22:00</td>
      <td>97490</td>
      <td>5.460</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>293</th>
      <td>Jesse</td>
      <td>Male</td>
      <td>1999-10-25</td>
      <td>2019-01-05 15:35:00</td>
      <td>118733</td>
      <td>9.653</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>309</th>
      <td>Benjamin</td>
      <td>Male</td>
      <td>1984-09-11</td>
      <td>2019-01-05 06:37:00</td>
      <td>84810</td>
      <td>15.794</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>327</th>
      <td>Aaron</td>
      <td>Male</td>
      <td>1994-01-29</td>
      <td>2019-01-05 18:48:00</td>
      <td>58755</td>
      <td>5.097</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>353</th>
      <td>NaN</td>
      <td>Male</td>
      <td>1997-04-22</td>
      <td>2019-01-05 21:36:00</td>
      <td>65078</td>
      <td>3.095</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>403</th>
      <td>Craig</td>
      <td>Male</td>
      <td>1984-02-08</td>
      <td>2019-01-05 04:45:00</td>
      <td>113506</td>
      <td>19.642</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>413</th>
      <td>Johnny</td>
      <td>Male</td>
      <td>1992-09-14</td>
      <td>2019-01-05 08:21:00</td>
      <td>115194</td>
      <td>5.861</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>452</th>
      <td>Scott</td>
      <td>Male</td>
      <td>2012-11-17</td>
      <td>2019-01-05 14:47:00</td>
      <td>146812</td>
      <td>1.965</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>454</th>
      <td>NaN</td>
      <td>Male</td>
      <td>1995-02-21</td>
      <td>2019-01-05 00:26:00</td>
      <td>136602</td>
      <td>10.429</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>461</th>
      <td>Jeremy</td>
      <td>Male</td>
      <td>2001-08-09</td>
      <td>2019-01-05 03:56:00</td>
      <td>43354</td>
      <td>13.946</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>464</th>
      <td>Lawrence</td>
      <td>Male</td>
      <td>2005-05-13</td>
      <td>2019-01-05 01:25:00</td>
      <td>74640</td>
      <td>18.641</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>484</th>
      <td>Joe</td>
      <td>Male</td>
      <td>2000-04-14</td>
      <td>2019-01-05 15:14:00</td>
      <td>50645</td>
      <td>11.119</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>496</th>
      <td>Johnny</td>
      <td>Male</td>
      <td>2016-02-26</td>
      <td>2019-01-05 19:39:00</td>
      <td>76394</td>
      <td>5.437</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>503</th>
      <td>Roger</td>
      <td>Male</td>
      <td>2015-08-03</td>
      <td>2019-01-05 16:56:00</td>
      <td>125033</td>
      <td>4.887</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>544</th>
      <td>Roger</td>
      <td>Male</td>
      <td>2010-07-03</td>
      <td>2019-01-05 17:11:00</td>
      <td>105689</td>
      <td>13.320</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>550</th>
      <td>Gregory</td>
      <td>Male</td>
      <td>1984-06-18</td>
      <td>2019-01-05 03:46:00</td>
      <td>82726</td>
      <td>16.304</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>556</th>
      <td>Arthur</td>
      <td>Male</td>
      <td>2014-12-16</td>
      <td>2019-01-05 16:56:00</td>
      <td>66819</td>
      <td>6.639</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>571</th>
      <td>Jonathan</td>
      <td>Male</td>
      <td>1995-04-06</td>
      <td>2019-01-05 22:38:00</td>
      <td>56993</td>
      <td>18.623</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>581</th>
      <td>Ernest</td>
      <td>Male</td>
      <td>1990-01-28</td>
      <td>2019-01-05 00:08:00</td>
      <td>81919</td>
      <td>15.118</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>696</th>
      <td>Samuel</td>
      <td>Male</td>
      <td>2012-05-25</td>
      <td>2019-01-05 16:40:00</td>
      <td>85550</td>
      <td>11.593</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>722</th>
      <td>Joshua</td>
      <td>Male</td>
      <td>1997-06-27</td>
      <td>2019-01-05 15:23:00</td>
      <td>95003</td>
      <td>5.197</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>798</th>
      <td>Lawrence</td>
      <td>Male</td>
      <td>1984-10-01</td>
      <td>2019-01-05 14:06:00</td>
      <td>102589</td>
      <td>17.952</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>860</th>
      <td>Phillip</td>
      <td>Male</td>
      <td>1984-10-07</td>
      <td>2019-01-05 11:05:00</td>
      <td>36837</td>
      <td>14.660</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>867</th>
      <td>Earl</td>
      <td>Male</td>
      <td>2013-06-15</td>
      <td>2019-01-05 03:00:00</td>
      <td>48046</td>
      <td>7.737</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>899</th>
      <td>Walter</td>
      <td>Male</td>
      <td>1992-05-21</td>
      <td>2019-01-05 00:39:00</td>
      <td>144701</td>
      <td>16.323</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>947</th>
      <td>NaN</td>
      <td>Male</td>
      <td>2012-07-30</td>
      <td>2019-01-05 15:07:00</td>
      <td>107351</td>
      <td>5.329</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>994</th>
      <td>George</td>
      <td>Male</td>
      <td>2013-06-21</td>
      <td>2019-01-05 17:47:00</td>
      <td>98874</td>
      <td>4.479</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
mask=df['Gender']=='Male'
mask2= df['Team']=='Marketing'
df[mask &  mask2]

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>First Name</th>
      <th>Gender</th>
      <th>Start Date</th>
      <th>Last Login Time</th>
      <th>Salary</th>
      <th>Bonus %</th>
      <th>Senior Management</th>
      <th>Team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Douglas</td>
      <td>Male</td>
      <td>1993-08-06</td>
      <td>2019-01-05 12:42:00</td>
      <td>97308</td>
      <td>6.945</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Matthew</td>
      <td>Male</td>
      <td>1995-09-05</td>
      <td>2019-01-05 02:12:00</td>
      <td>100612</td>
      <td>13.645</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Craig</td>
      <td>Male</td>
      <td>2000-02-27</td>
      <td>2019-01-05 07:45:00</td>
      <td>37598</td>
      <td>7.757</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Thomas</td>
      <td>Male</td>
      <td>1995-06-04</td>
      <td>2019-01-05 14:24:00</td>
      <td>62096</td>
      <td>17.029</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Charles</td>
      <td>Male</td>
      <td>2004-09-14</td>
      <td>2019-01-05 20:13:00</td>
      <td>107391</td>
      <td>1.260</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Aaron</td>
      <td>Male</td>
      <td>2012-02-17</td>
      <td>2019-01-05 10:20:00</td>
      <td>61602</td>
      <td>11.849</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>104</th>
      <td>John</td>
      <td>Male</td>
      <td>1989-12-23</td>
      <td>2019-01-05 07:01:00</td>
      <td>80740</td>
      <td>19.305</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Willie</td>
      <td>Male</td>
      <td>2003-11-27</td>
      <td>2019-01-05 06:21:00</td>
      <td>64363</td>
      <td>4.023</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Paul</td>
      <td>Male</td>
      <td>2008-06-03</td>
      <td>2019-01-05 15:05:00</td>
      <td>41054</td>
      <td>12.299</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Sean</td>
      <td>Male</td>
      <td>1996-05-04</td>
      <td>2019-01-05 20:59:00</td>
      <td>135490</td>
      <td>19.934</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Roger</td>
      <td>Male</td>
      <td>2004-11-19</td>
      <td>2019-01-05 15:55:00</td>
      <td>51430</td>
      <td>6.460</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Willie</td>
      <td>Male</td>
      <td>2006-06-06</td>
      <td>2019-01-05 09:45:00</td>
      <td>55281</td>
      <td>4.935</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Matthew</td>
      <td>Male</td>
      <td>2013-07-31</td>
      <td>2019-01-05 08:04:00</td>
      <td>142373</td>
      <td>2.462</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>252</th>
      <td>Ralph</td>
      <td>Male</td>
      <td>2004-11-11</td>
      <td>2019-01-05 01:35:00</td>
      <td>71896</td>
      <td>4.232</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>274</th>
      <td>Howard</td>
      <td>Male</td>
      <td>1982-10-05</td>
      <td>2019-01-05 07:22:00</td>
      <td>97490</td>
      <td>5.460</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>293</th>
      <td>Jesse</td>
      <td>Male</td>
      <td>1999-10-25</td>
      <td>2019-01-05 15:35:00</td>
      <td>118733</td>
      <td>9.653</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>309</th>
      <td>Benjamin</td>
      <td>Male</td>
      <td>1984-09-11</td>
      <td>2019-01-05 06:37:00</td>
      <td>84810</td>
      <td>15.794</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>327</th>
      <td>Aaron</td>
      <td>Male</td>
      <td>1994-01-29</td>
      <td>2019-01-05 18:48:00</td>
      <td>58755</td>
      <td>5.097</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>353</th>
      <td>NaN</td>
      <td>Male</td>
      <td>1997-04-22</td>
      <td>2019-01-05 21:36:00</td>
      <td>65078</td>
      <td>3.095</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>403</th>
      <td>Craig</td>
      <td>Male</td>
      <td>1984-02-08</td>
      <td>2019-01-05 04:45:00</td>
      <td>113506</td>
      <td>19.642</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>413</th>
      <td>Johnny</td>
      <td>Male</td>
      <td>1992-09-14</td>
      <td>2019-01-05 08:21:00</td>
      <td>115194</td>
      <td>5.861</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>452</th>
      <td>Scott</td>
      <td>Male</td>
      <td>2012-11-17</td>
      <td>2019-01-05 14:47:00</td>
      <td>146812</td>
      <td>1.965</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>454</th>
      <td>NaN</td>
      <td>Male</td>
      <td>1995-02-21</td>
      <td>2019-01-05 00:26:00</td>
      <td>136602</td>
      <td>10.429</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>461</th>
      <td>Jeremy</td>
      <td>Male</td>
      <td>2001-08-09</td>
      <td>2019-01-05 03:56:00</td>
      <td>43354</td>
      <td>13.946</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>464</th>
      <td>Lawrence</td>
      <td>Male</td>
      <td>2005-05-13</td>
      <td>2019-01-05 01:25:00</td>
      <td>74640</td>
      <td>18.641</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>484</th>
      <td>Joe</td>
      <td>Male</td>
      <td>2000-04-14</td>
      <td>2019-01-05 15:14:00</td>
      <td>50645</td>
      <td>11.119</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>496</th>
      <td>Johnny</td>
      <td>Male</td>
      <td>2016-02-26</td>
      <td>2019-01-05 19:39:00</td>
      <td>76394</td>
      <td>5.437</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>503</th>
      <td>Roger</td>
      <td>Male</td>
      <td>2015-08-03</td>
      <td>2019-01-05 16:56:00</td>
      <td>125033</td>
      <td>4.887</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>544</th>
      <td>Roger</td>
      <td>Male</td>
      <td>2010-07-03</td>
      <td>2019-01-05 17:11:00</td>
      <td>105689</td>
      <td>13.320</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>550</th>
      <td>Gregory</td>
      <td>Male</td>
      <td>1984-06-18</td>
      <td>2019-01-05 03:46:00</td>
      <td>82726</td>
      <td>16.304</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>556</th>
      <td>Arthur</td>
      <td>Male</td>
      <td>2014-12-16</td>
      <td>2019-01-05 16:56:00</td>
      <td>66819</td>
      <td>6.639</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>571</th>
      <td>Jonathan</td>
      <td>Male</td>
      <td>1995-04-06</td>
      <td>2019-01-05 22:38:00</td>
      <td>56993</td>
      <td>18.623</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>581</th>
      <td>Ernest</td>
      <td>Male</td>
      <td>1990-01-28</td>
      <td>2019-01-05 00:08:00</td>
      <td>81919</td>
      <td>15.118</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>696</th>
      <td>Samuel</td>
      <td>Male</td>
      <td>2012-05-25</td>
      <td>2019-01-05 16:40:00</td>
      <td>85550</td>
      <td>11.593</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>722</th>
      <td>Joshua</td>
      <td>Male</td>
      <td>1997-06-27</td>
      <td>2019-01-05 15:23:00</td>
      <td>95003</td>
      <td>5.197</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>798</th>
      <td>Lawrence</td>
      <td>Male</td>
      <td>1984-10-01</td>
      <td>2019-01-05 14:06:00</td>
      <td>102589</td>
      <td>17.952</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>860</th>
      <td>Phillip</td>
      <td>Male</td>
      <td>1984-10-07</td>
      <td>2019-01-05 11:05:00</td>
      <td>36837</td>
      <td>14.660</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>867</th>
      <td>Earl</td>
      <td>Male</td>
      <td>2013-06-15</td>
      <td>2019-01-05 03:00:00</td>
      <td>48046</td>
      <td>7.737</td>
      <td>False</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>899</th>
      <td>Walter</td>
      <td>Male</td>
      <td>1992-05-21</td>
      <td>2019-01-05 00:39:00</td>
      <td>144701</td>
      <td>16.323</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>947</th>
      <td>NaN</td>
      <td>Male</td>
      <td>2012-07-30</td>
      <td>2019-01-05 15:07:00</td>
      <td>107351</td>
      <td>5.329</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
    <tr>
      <th>994</th>
      <td>George</td>
      <td>Male</td>
      <td>2013-06-21</td>
      <td>2019-01-05 17:47:00</td>
      <td>98874</td>
      <td>4.479</td>
      <td>True</td>
      <td>Marketing</td>
    </tr>
  </tbody>
</table>
</div>